<style>
  .container{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  span{
    margin: 10px;
  }
</style>

<div class="container">
  <span>Olá, {{receiver}}</span>
  <br/>
  <span>Você acabou de receber um compliment do seu colega {{sender}}.</span>
  <div>Message:</br>
  <i>" {{message}} "</i>
  </div>

  <strong>Continue Fazendo um bom trabalho</strong>

  <h3>Equipe | <strong>Valoriza</strong></h3>
</div>