<style>
  .container{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
  }
  span{
    margin: 10px;
  }
</style>

<div class="container">
  <p>Olá, {{receiver}}</p>
  <br/>
  <p>Você acabou de receber um compliment do seu colega {{sender}}.</p>
  <p>Compliment:</br>
  <i>"{{message}}"</i>
  </p>

  <strong>Continue Fazendo um bom trabalho</strong>

  <h3>Equipe | <strong>Valoriza</strong></h3>
</div>